
useDynLib(ATA)

########################################################
################# IMPORTS #############################

#***************************************************
#*************** R Basics / Linking To *************
# importFrom(graphics, abline)

#***************************************************
#************** Depends ****************************
# import(CDM)

#***************************************************
#************** Imports ****************************
importFrom(Rcpp, evalCpp)
importFrom(tensor, tensor)

########################################################
################  EXPORTS ##############################
export(ata_random)
export(ata_sa_bib)
# internal functions; not intended to be visible to users
# export(theta.sq)

########################################################
################ S3 METHODS ############################
# S3method(plot, ata_random)
# S3method(print, ata_random)
# S3method(summary, ata_random)
